server:
  port: 8081

spring:
  application:
    name: auth-service
  data:
    mongodb:
      uri: mongodb+srv://shatabey001:halit2001@cluster0.msdzv98.mongodb.net/usersdb?retryWrites=true&w=majority
      database: usersdb
  redis:
    host: localhost
    port: 6380

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

internal:
  api-key: internal-api-key

