server:
  port: 8084

spring:
  application:
    name: channel-service
  data:
    mongodb:
      uri: ${CHANNEL_MONGO_URI}
      database: channelsdb

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

internal:
  api-key: internal-api-key

